<!doctype html>
<html lang="zxx">

<head>
    <link rel="icon" href="/images/user/FAV LOGO.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paintcont</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/UserCss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/UserCss/style.css">
</head>

<body>
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">

                        <a class="navbar-brand" href="#"> <img src="/images/user/logo-removebg-preview.png" alt="logo"
                                width="100"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/products"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <a href="/home" id="search_1"><i class="fas fa-home"></i></a>
                            <a href="/products" id="search_1"><i class="fas fa-shopping-bag"></i></a>
                            <a href="/cart" id="#"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <a href="/profile"><i class="fas fa-user-circle"></i></a>
                            <!-- Use "ms-auto" for margin on the left side -->
                            <a href="/logout"><i class="fas fa-power-off"></i></a>
                            <!-- Apply Bootstrap button styles -->
                            <!-- </form> -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    <div class="container mt-5">
        <h2>Add Address</h2>
        <div class="row">
            <form action="/profile/add_address" method="post">
                <div class="container">
                    <div class="user-editAddress-container">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Pincode -->
                                <div class="form-group">
                                    <label for="pincode" class="form-label">Pincode</label>
                                    <input type="number" class="form-control" id="pincode" name="pincode" placeholder="Enter Pincode" min="0" pattern="[0-9]*" inputmode="numeric">
                                  </div>
                                  
                                <!-- state(Dropdown) -->
                                <div class="form-group">
                                    <label for="state" class="form-label">States</label>
                                    <select class="form-select"  id="city" name="state">
                                        <option value="">Choose States</option>
                                        <option value="Andaman nicobar">Andaman nicobar</option>
                                        <option value="Andhra pradhesh">Andhra pradhesh</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Arunachal pradhesh">Arunachal pradhesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandhigarh">Chandhigarh</option>
                                        <option value="Chattisgarh">Chattisgarh</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="other">other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- city -->
                                <div class="form-group">
                                    <label for="pincode" class="form-label">city</label>
                                    <input type="text"   class="form-control" id="city" name="city" placeholder="city">
                                </div>
                                <!-- area and street -->
                                <div class="form-group">
                                    <label for="pincode" class="form-label">Address(area and street)</label>
                                    <input type="text"  class="form-control" id="areaAndstreet" name="areaAndstreet"
                                        placeholder="308 Ryder Forest Apt. 915,Port Lilianton">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% if(typeof error !== 'undefined') { %>
                    <p class="error-message text-danger" style="margin-top: 10px;    margin-left: 16px;    margin-bottom: -17px;">
                        <%= error %>
                    </p>  
                    <% } %>  
                <button type="submit" class="btn btn-success mt-4 ml-3"><i class="fas fa-save"></i>
                </i>
                </button>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>