<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/user/FAV LOGO.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paintcont</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/UserCss/bootstrap.min.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/UserCss/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/UserCss/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/UserCss/flaticon.css">
    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/UserCss/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/UserCss/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/UserCss/style.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">

                        <a class="navbar-brand" href="#"> <img src="/images/user/logo-removebg-preview.png" alt="logo"
                                width="100"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/products">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/error">About us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/error">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <!-- <a href="/error" id="search_1"><i class="fas fa-search"></i></a> -->
                            <a href="/cart" id="#"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <a href="/error"><i class="fas fa-heart"></i></a>
                            <a href="/profile"><i class="fas fa-user-circle"></i></a>
                            <!-- Use "ms-auto" for margin on the left side -->
                            <a href="/logout"><i class="fas fa-power-off"></i></a>
                            <!-- Apply Bootstrap button styles -->
                            <!-- </form> -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <section class="banner_part">
        <div class="banner_img mt-1">
            <img src="/images/user/bg image.webp" alt="#" class="img-fluid">
            <div class="centered-div">
                <div class="card text-center mb-3" style="width: 26rem; ">
                    <div class="card-body">
                        <h5 class="card-title">Premium || Vibrant || Reliable</h5>
                        <p class="card-text text-danger " style="font-size: 20px;">India's Leading Discount Paint and Painting Supplies Superstore®</p>
                        <br> 
                        <a href="/products" class="btn btn-primary">shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- banner part start-->
    <!-- Carousel Section -->
    <% if (Banner.length> 0) { %>
        <section class="carousel_section">
            <div class="container-fluid">
                <div class="row w-100 m-0">
                    <div class="col-lg-12 w-100">
                        <div class="owl-carousel owl-theme w-100 d-flex justify-content-around">
                            <% Banner.forEach(banners=> { %>
                                <div class="item" style="width: 500px; padding-right: 40px; padding-left: 40px;">
                                    <img src="/userimages/<%= banners.bannerImage %>" alt="Carousel Image"
                                        style="max-width: 100%;">
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% } %>



            <!-- product list start-->
<section class="single_product_list">
    <div class="container">
        <div class="row justify-content-center"> <!-- Center align the cards -->
            <div class="col-lg-4 col-md-6">
                <!-- First Product Card -->
                <div class="card mb-4 card-with-border">
                    <img src="/images/user/maxresdefault.jpg" class="card-img" alt="#">
                    <div class="card-body card-height"> <!-- Added card-height class -->
                        <h3 class="card-title">New Exterior Painting Collections</h3>
                        <p class="card-text" style="font-size: 14px;">Eco Paint: Recyclable, zero CO2 during production.</p>
                        <a href="/products" class="btn btn-primary btn-block" style="margin-top: 100px;">Explore Now</a> <!-- Make the button full-width -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Second Product Card -->
                <div class="card mb-4 card-with-border">
                    <img src="/images/user/maxresdefault-1.jpg" class="card-img" alt="#">
                    <div class="card-body card-height"> <!-- Added card-height class -->
                        <h3 class="card-title">New Wood Painting Collections</h3>
                        <p class="card-text" style="font-size: 14px;">Hypoallergenic Paint: 100% natural, safe for all indoors.</p>
                        <a href="/products" class="btn btn-primary btn-block" style="margin-top: 100px;">Explore Now</a> <!-- Make the button full-width -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <!-- Third Product Card -->
                <div class="card mb-4 card-with-border">
                    <img src="/images/user/maxresdefault-2.jpg" class="card-img" alt="#">
                    <div class="card-body card-height"> <!-- Added card-height class -->
                        <h3 class="card-title">New Interior Painting Collections</h3>
                        <p class="card-text" style="font-size: 14px;">Artisanal Paint: Handmade strokes filled with passion.</p>
                        <a href="/products" class="btn btn-primary btn-block" style="margin-top: 100px;">Explore Now</a> <!-- Make the button full-width -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .card-with-border {
        border: 2px solid #ccc; /* Default border color */
        transition: border-color 0.3s ease; /* Smooth transition for border color */
    }

    .card-with-border:hover {
        border-color: #562424; /* Border color on hover */
    }

    .card-height {
        min-height: 250px; /* Adjust the desired height */
    }
</style>

            
            
            <!-- product list end-->

            <!-- trending item start-->
            <section class="trending_items">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section_tittle text-center">
                                <h2>Why Our Paints ?</h2>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="/images/user/quality.png" alt="" class="img-fluid img-hover">
                    </div>
                </div>
            </section>
            
            <style>
                .img-hover:hover {
                    /* Add your hover effect styles here */
                    transform: scale(1.1); /* Example: Enlarge the image on hover */
                    transition: transform 0.3s ease; /* Add a smooth transition */
                }
            </style>
            
            <!-- trending item end-->


            <!--testimonial start-->

            <div class="row">

                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <img src="/images/user/icon-5359553_1280.png" class="card-img-top" alt="John Doe"
                            class="ind-img">
                        <div class="card-body">
                            <h5 class="card-title">John Doe</h5>
                            <div class="rating">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                vitae
                                suscipit justo. Vestibulum eget ex at mauris consequat."</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <img src="/images/user/icon-5359553_1280.png" class="card-img-top" alt="John Doe"
                            class="ind-img">
                        <div class="card-body">
                            <h5 class="card-title">Muhammed</h5>
                            <div class="rating">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                vitae
                                suscipit justo. Vestibulum eget ex at mauris consequat."</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <img src="/images/user/icon-5359553_1280.png" class="card-img-top" alt="John Doe"
                            class="ind-img">
                        <div class="card-body">
                            <h5 class="card-title">Karthik shankar</h5>
                            <div class="rating">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                            </div>
                            <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                vitae
                                suscipit justo. Vestibulum eget ex at mauris consequat."</p>
                        </div>
                    </div>
                </div>

                <!-- Add similar code for other testimonials -->
            </div>
            </div>

            <!--testimonial end-->
            <!-- Footer section -->
            <hr class="my-4">
            <footer class="footer_part">
                <div class="footer_iner">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <div class="footer_menu">
                                    <div class="footer_logo">
                                        <a href="/home"><img src="/images/user/FAV LOGO.png" alt="#"></a>
                                    </div>
                                    <div class="footer_menu_item">
                                        <a href="/error">Home</a>
                                        <a href="/error">About</a>
                                        <a href="/error">Products</a>
                                        <a href="/error">Products</a>
                                        <a href="/error">Products</a>
                                        <a href="/error">Products</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="social_icon">
                                    <a href="/error"><i class="fab fa-facebook-f"></i></a>
                                    <a href="/error"><i class="fab fa-instagram"></i></a>
                                    <a href="/error"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="/error"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- bootstrap js -->
            <!-- <script src="/js/user/bootstrap.min.js"></script> -->

            <!-- carousel js -->
            <script src="/public/js/user/script.js"></script>
            <script src="/js/user/owl.carousel.min.js"></script>
            <script src="/js/user/jquery.nice-select.min.js"></script>

            <!-- custom js -->
            <script src="/js/custom.js"></script>
</body>

</html>