<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/user/FAV LOGO.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paintcont</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/UserCss/bootstrap.min.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/UserCss/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/UserCss/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/UserCss/flaticon.css">
    <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/UserCss/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/UserCss/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/UserCss/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">

                        <a class="navbar-brand" href="#"> <img src="/images/user/logo-removebg-preview.png" alt="logo"
                                width="100"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/products"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <a href="/home" id="search_1"><i class="fas fa-home"></i></a>
                            <a href="/products" id="search_1"><i class="fas fa-shopping-bag"></i></a>
                            <a href="/cart" id="#"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                        <div class="hearer_icon d-flex align-items-center">
                            <a href="/profile"><i class="fas fa-user-circle"></i></a>
                            <!-- Use "ms-auto" for margin on the left side -->
                            <a href="/logout"><i class="fas fa-power-off"></i></a>
                            <!-- Apply Bootstrap button styles -->
                            <!-- </form> -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>




    <!-- Header -->
    <header class="w3-container w3-red w3-center"
        style="padding:128px 16px; background-image: url(/images/user/home-office-2804083_1280.jpg); background-size: cover;">


        <a href="/products">
            <div class="blurry-background m-3">
                <h1 class="m-0 p-0 w3-jumbo times-font" style="font-weight: bolder; font-family: 'Copperplate', sans-serif;">PAINTCONT</h1>
                <p class="m-0 p-0 w3-xlarge" style="font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">Premium || Vibrant || Reliable</p>
            </div>
        </a>


        
        <style>
            .blurry-background {
                background: rgba(204, 204, 204, 0.5); /* Transparent gray background */
                padding: 20px; /* Adjust padding as needed */
                border-radius: 50px; /* Rounded corners */
                backdrop-filter: blur(5px); /* Apply blur effect */
            }
        </style>
        
        
        
        
        
        <button class="w3-button padding-large w3-large w3-margin-top blurry-background" style="border-radius: 33px; ">
            <a href="/products" class="">
              <box-icon type='solid' name='backpack' color='white'></box-icon>
            </a>
          </button>
          
          
        </a></button>
    </header>


    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container" style="text-align: center;margin-top: -17px">
        <h1>"Unleash Your Creativity with Every Can of Paint."</h1>
    </div>
    <br>
    <br>



    <section>
        <div class="bg-danger mx-auto text-center" style="width: 800px; height: 300px; position: relative;">
            <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <% if (Banner.length> 0) { %>
                        <% Banner.forEach((banners, index)=> { %>
                            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                <img src="/userimages/<%= banners.bannerImage %>" class="d-block mx-auto" alt="">
                            </div>
                            <% }) %>
                                <% } %>
                </div>
                <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>


    <section class="single_product_list">
        <div class="container">
            <div class="row justify-content-center"> <!-- Center align the cards -->
                <div class="col-lg-4 col-md-6">
                    <!-- First Product Card -->
                    <div class="card mb-4 card-with-border">
                        <img src="/images/user/maxresdefault.jpg" class="card-img" alt="#">
                        <div class="card-body card-height"> <!-- Added card-height class -->
                            <h3 class="card-title">New Exterior Painting Collections</h3>
                            <p class="card-text" style="font-size: 14px;">Eco Paint: Recyclable, zero CO2 during
                                production.</p>
                            <a href="/products" class="btn btn-primary btn-block" style="margin-top: 100px;">Explore
                                Now</a> <!-- Make the button full-width -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Second Product Card -->
                    <div class="card mb-4 card-with-border">
                        <img src="/images/user/maxresdefault-1.jpg" class="card-img" alt="#">
                        <div class="card-body card-height"> <!-- Added card-height class -->
                            <h3 class="card-title">New Wood Painting Collections</h3>
                            <p class="card-text" style="font-size: 14px;">Hypoallergenic Paint: 100% natural,
                                safe for all indoors.</p>
                            <a href="/products" class="btn btn-primary btn-block" style="margin-top: 100px;">Explore
                                Now</a> <!-- Make the button full-width -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <!-- Third Product Card -->
                    <div class="card mb-4 card-with-border">
                        <img src="/images/user/maxresdefault-2.jpg" class="card-img" alt="#">
                        <div class="card-body card-height"> <!-- Added card-height class -->
                            <h3 class="card-title">New Interior Painting Collections</h3>
                            <p class="card-text" style="font-size: 14px;">Artisanal Paint: Handmade strokes
                                filled with passion.</p>
                            <a href="/products" class="btn btn-primary btn-block" style="margin-top: 100px;">Explore
                                Now</a> <!-- Make the button full-width -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- trending item start-->
    <section class="trending_items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2
                            style="color: white; font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                            Why Our Paints ?</h2>
                    </div>
                </div>
            </div>
            <div>
                <img src="/images/user/quality.png" alt="" class="img-fluid img-hover">
            </div>
        </div>
    </section>




    <!-- trending item end-->


    <!--testimonial start-->

    <div class="row">

        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="/images/user/icon-5359553_1280.png" class="card-img-top" alt="John Doe" class="ind-img">
                <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <p class="card-text">"I recently used paint from this company, and I was pleasantly surprised. The color selection was fantastic, and the paint quality was top-notch. It covered my walls evenly, and I didn't need multiple coats. Highly recommended!"</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="/images/user/icon-5359553_1280.png" class="card-img-top" alt="John Doe" class="ind-img">
                <div class="card-body">
                    <h5 class="card-title">Muhammed</h5>
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <p class="card-text">"I've been a loyal customer of this paint company for years, and they never disappoint. The durability of their paint is impressive. It withstands wear and tear, and the colors stay vibrant. I wouldn't choose any other brand."</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="/images/user/icon-5359553_1280.png" class="card-img-top" alt="John Doe" class="ind-img">
                <div class="card-body">
                    <h5 class="card-title">Karthik shankar</h5>
                    <div class="rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                    <p class="card-text">"I had a great experience with this paint company. The customer service was exceptional, helping me choose the perfect shade for my home. The paint itself was easy to work with, and the result was fantastic. I'm extremely satisfied with their product and support." </p>
                </div>
            </div>
        </div>

        <!-- Add similar code for other testimonials -->
    </div>
    </div>

    <!--testimonial end-->
    <!-- Footer section -->
    <hr class="my-4" style="width: 100%;">

    <footer class="footer_part">
        <div class="footer_iner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="footer_menu">
                            <div class="footer_logo">
                                <a href="/home"><img src="/images/user/FAV LOGO.png" style="width: 185px;" alt="#"></a>
                            </div>
                            <h1><b>Create your dream home with our Paints</b></h1>
                        </div>
                    </div>
                    <style>
                        .footer_part {
                            padding: 20px 0;
                            /* Adjust the values to your preference */
                        }
                    </style>
                    <div class="col-lg-4">
                        <div class="social_icon">
                            <h1><b>PAINTCONT</b></h1>
                            <a href="/error"><i class="fab fa-facebook-f"></i></a>
                            <a href="/error"><i class="fab fa-instagram"></i></a>
                            <a href="/error"><i class="fab fa-google-plus-g"></i></a>
                            <a href="/error"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar,
        h1,
        button {
            font-family: "Montserrat", sans-serif
        }
    </style>

    <!-- cards -->
    <style>
        .card-with-border {
            border: 2px solid #ccc;
            /* Default border color */
            transition: border-color 0.3s ease;
            /* Smooth transition for border color */
        }

        .card-with-border:hover {
            border-color: #562424;
            /* Border color on hover */
        }

        .card-height {
            min-height: 250px;
            /* Adjust the desired height */
        }
    </style>

    <!-- why out product -->
    <style>
        .img-hover:hover {
            /* Add your hover effect styles here */
            transform: scale(1.1);
            /* Example: Enlarge the image on hover */
            transition: transform 0.3s ease;
            /* Add a smooth transition */
        }

        .trending_items {
            background-image: url(/images/user/backgroundBanner.png);
            /* Replace with the path to your background image */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 100px 0;
            /* Add padding as needed */
            text-align: center;
            /* Center the content within the section */
            color: #fff;
            /* Set text color to white or a suitable color for readability */
        }


        .blurry-background {
        /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(your-background-image.jpg); */
        background-size: cover;
        background-position: center;
        transition: background 0.3s, color 0.3s;
    }

    .blurry-background:hover {
        background: linear-gradient(rgba(255, 255, 255, 0.37), rgba(255, 255, 255, 0.666)), url(your-hover-background-image.jpg);
        background-size: cover;
        background-position: center;
        color: rgba(255, 255, 255, 0.41);
    }
    </style>

    <!-- bootstrap js -->
    <!-- <script src="/js/user/bootstrap.min.js"></script> -->

    <!-- carousel js -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/public/js/user/script.js"></script>
    <script src="/js/user/owl.carousel.min.js"></script>
    <script src="/js/user/jquery.nice-select.min.js"></script>

    <!-- custom js -->
    <script src="/js/custom.js"></script>
</body>

</html>