<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" href="/images/user/FAV LOGO.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>paintcont</title>
    <!-- <link rel="icon" href="img/favicon.png"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/UserCss/bootstrap.min.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/UserCss/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/UserCss/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/UserCss/flaticon.css">
    <link rel="stylesheet" href="/css/UserCss/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/UserCss/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/UserCss/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/UserCss/style.css">

    <!-- Custom CSS for the login form container -->
</head>

<body>
    <!--================login_part Area =================-->
    <section class="login_part section_padding">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>India's Leading Discount Paint and Painting Supplies Superstore ®</p>
                            <a href="/signup" class="btn_3">Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form login-form-container text-center">
                        <div class="login_part_form_iner">
                            <h3>Welcome to Paintcont<br>
                                Please Sign in now</h3>
                            <form class="row contact_form" action="/login" method="post" novalidate="novalidate">
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email" value=""
                                        placeholder="email" required>
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Password" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <p class="error-message">
                                        <%= errorMessage %>
                                    </p>
                                    <button type="submit" value="submit" class="btn_3">
                                        log in
                                    </button>
                                    <a class="lost_pass" href="/mail4otp">forget password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->
</body>

</html>